html {
    font-family: "roboto", sans-serif;
    background-color: white;
    color: #292929;
    line-height: 36px;
    font-size: 20px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    position: relative;
    max-width: 1680px;
    width: 100%;
    background-image: url("/img/background-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 145px;
}

header nav {
    top: 65px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 #0202021A;
    max-width: 1500px;
    width: 100%;
    position: fixed;
    margin: 0 auto;
    padding: 20px 50px;
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 2fr;
    grid-row-gap: 20px;
}

header nav img {
    grid-row: 1 /3;
    align-self: center;
}

header nav .socials,
header nav .links {
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header nav .links {
    grid-row: 1 / 2;
}

header nav .socials {
    justify-content: flex-end;
    column-gap: 20px;
    grid-row: 2 / 3;
}

header .container .text {
    width: 100%;
    margin: 300px 0 130px;
    display: flex;
    flex-direction: column;
}

header .container .text h1 {
    color: #2871B7;
    width: 20%;
}

header .container .text .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0 30px;
    width: 40%;
}

header .container .text button {
    cursor: pointer;
    background-color: #CD5A83;
    padding: 15px;
    border-radius: 5px;
    border: none;
    color: white;
}

h1, h2 {
    margin: 0;
    font-size: 45px;
    line-height: 52px;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

a {
    color: unset;
    text-decoration: unset;
}

figure {
    margin: 0;
}

section#homepage,
section#support,
section#xp {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section#support .cards {
    margin-top: 70px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    grid-gap: 25px;
}

section#support .cards figure {
    display: flex;
    justify-content: space-between;
    background-color: #D8F2FF;
}

section#support .cards figure img {
    object-fit: contain;
    margin: 20px;
}

section#support .cards figure figcaption {
    display: flex;
    align-items: center;
    flex-grow: 4;
    font-weight: bold;
    line-height: 25px;
    font-size: 18px;
    padding: 20px 35px;
    border-right: 1px solid rgba(41, 41, 41, 0.15);
}

section#xp {
    margin: 200px 0;
    row-gap: 20px;
}

section#xp > h2 {
    margin-bottom: 90px;
}

section#xp figure {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

section#xp figure img {
    object-fit: cover;
}

section#xp figure figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 120px;
    background-color: #F1F1F1;
}

section#xp figure:nth-child(2) figcaption {
    background-color: #287187;
    color: white;
}

footer {
    width: 100%;
    padding: 15px 0 0;
    text-align: center;
    background-color: #D8F2FF;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .container ul {
    list-style: none;
}

footer .container ul li {
    text-align: left;
    margin: 20px 0 ;
}

footer .container ul li:first-child {
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #292929;
    padding-bottom: 5px;
}

footer .subFooter {
    padding: 15px 0;
    background-color: #2871B7;
    color: white;
}
